* {
  padding: 0;
  margin: 0;
}

.page-main {
  display: flex;
  flex-direction: column;

  // overflow: hidden;
  // header {
  //   z-index: 111;
  //   position: absolute;
  // }

  .main-container {
    margin-top: -150px !important;
    width: 100%;

    margin: auto;
    display: flex;
    flex-direction: column;

    // section {
    //   width: var(--contentwidth);
    //   max-width: 1440px;
    //   left: var(--contentpadding);
    // }

    section .wrapper {
      width: var(--contentwidth);
      max-width: 1440px;
      margin-left: var(--contentpadding);
    }

    .banner {
      // background: url("../img/about/banner.jpg") no-repeat center;
      background-size: cover;
      width: 100%;
      height: min(810px, var(--fullheight));
      display: flex;
      align-items: center;
      background-color: #19242d;
      padding-top: 0 !important;
      position: relative;

      .banner_video,.fake_video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
      }

      .wrapper {
        // max-width: 1440px;
        // margin: 0 auto;
        // width: 100%;
        margin-top: 150px;
        z-index: 1;

        .slogan {
          display: flex;
          justify-content: space-between;

          .left {
            color: #fff;

            .title1 {
              font-size: 16px;
              font-weight: 400;
              line-height: 1;
              opacity: 0.96;
              margin-bottom: 28px;
            }

            .title2 {
              font-size: 54px;
              font-weight: 500;
              line-height: 1.2;
            }
          }

          .right {
            // width: 500px;
          }
        }
      }
    }

    .section2 {
      background: linear-gradient(180deg, #97a0b2, #fff);
      background-attachment: fixed;
      height: 1002px;
      display: flex;
      align-items: center;

      .wrapper {
        // width: 100%;
        // max-width: 1440px;
        // margin: auto;

        .top_part {
          display: flex;
          justify-content: space-between;
          margin-bottom: 135px;

          .left_part {
            display: flex;
            flex-direction: column;
            flex: 1;

            .title1 {
              font-size: 18px;
              font-family: Gilroy;
              font-weight: 500;
              color: #42505b;
              line-height: 1;
              margin-bottom: 20px;
            }

            .title2 {
              font-size: 48px;
              font-family: OPPOSans;
              font-weight: 500;
              color: #000000;
              line-height: 1;
            }
          }

          .right_part {
            flex: 1;

            li {
              position: relative;
              padding-left: 20px;
              // white-space: nowrap;
              font-size: 16px;
              font-family: OPPOSans;
              font-weight: bold;
              color: #4b4e52;
              line-height: 28px;
            }

            li::after {
              content: "";
              height: 8px;
              width: 8px;
              background: #2c5094;
              display: block;
              position: absolute;
              transform: rotate(45deg);
              top: 5px;
              left: 4px;
              opacity: 0.3;
            }
          }
        }

        .bottom_part {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .item {
            width: 340px;
            height: 420px;
            background: #ffffff;
            box-sizing: border-box;
            box-shadow: 0px 13px 40px 0px rgba(0, 0, 0, 0.04);
            border-radius: 14px;
            padding: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
              margin-right: 12px;
            }

            img {
              width: 100%;
              margin-bottom: 50px;
            }

            .sub_title1 {
              font-size: 28px;
              font-weight: bold;
              color: #000000;
              line-height: 1;
              margin-bottom: 20px;
            }

            .sub_title2 {
              font-size: 16px;
              font-weight: 500;
              color: #63656b;
              line-height: 24px;
              text-align: center;
            }
          }
        }
      }
    }

    .section3 {
      background: white;
      height: max(800px, var(--fullheight));
      display: flex;

      // align-items: center;
      .wrapper {
        // width: 100%;
        // height: calc(100% - 136px);

        width: 94%;
        margin-left: 6%;
        max-width: unset;

        // height: 100%;
        display: flex;
        // max-width: 1440px;
        padding-top: 136px;
        // box-sizing: border-box;

        // padding-left: calc((100% - min(1440px, 100%)) / 2);
        // margin: 0 auto;

        .left-part {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 145px;
          height: 100%;

          .top-part {
            .title1 {
              font-size: 16px;
              font-family: Gilroy;
              font-weight: 500;
              color: #b2bfcf;
              line-height: 1;
              margin-bottom: 20px;
            }

            .title2 {
              font-size: 48px;
              font-family: OPPOSans;
              font-weight: 500;
              color: #000000;
              line-height: 1;
            }
          }

          .bottom-part {
            display: flex;
            margin-bottom: 266px;
            align-items: center;

            .year {
              font-size: 120px;
              font-family: Gilroy;
              font-weight: bold;
              color: #b1bfcf;
              line-height: 101px;
              opacity: 0.5;
              margin-right: 100px;
            }

            .arrows {
              position: relative;
              display: flex;

              .round_btn {
                border: 2px solid rgba(0, 0, 0, 0.1);
              }

              .round_btn:first-child {
                margin-right: 25px;
                transform: scaleX(-1);
              }
            }
          }
        }

        .right-part {
          display: flex;
          flex: 1;
          overflow: hidden;

          .swiper-container {
            width: 100%;
            height: 100%;

            .swiper-wrapper {
              white-space: nowrap;
              height: 100%;
            }

            .swiper-slide {
              width: 370px !important;
              height: 100%;
              display: inline-block;
              cursor: pointer;

              .items {
                height: 100%;
                padding: 0 30px;

                border-left: 2px solid #e5ebf2;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .title1 {
                  font-size: 120px;
                  font-family: Gilroy;
                  font-weight: bold;
                  color: #dae0e8;
                  line-height: 256px;
                }

                .contents {
                  height: 40%;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 74px;
                  white-space: normal;

                  .title2 {
                    font-size: 16px;
                    font-family: OPPOSans;
                    font-weight: 500;
                    color: #000000;
                    line-height: 1;
                    margin-bottom: 46px;
                  }

                  .title3 {
                    font-size: 16px;
                    font-family: OPPOSans;
                    font-weight: 400;
                    color: #78797b;
                    // margin-bottom: 30px;
                    line-height: 28px;
                    flex: 1;
                  }
                  .pic_wrapper {
                    margin-top: 20px;
                    img {
                      width: 100%;
                      object-fit: cover;
                      height: 135px;
                      border-radius: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section4 {
  background: #041526;
  padding: 128px 0;

  .wrapper {
    display: flex;
    flex-direction: column;

    // width: 100%;
    // max-width: 1440px;
    // margin: auto;
    .title1 {
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 500;
      color: #b2bfcf;
      margin-bottom: 17px;
    }

    .title-part {
      display: flex;
      justify-content: space-between;
      margin-bottom: 70px;
      font-family: OPPOSans;
      font-weight: 500;
      color: #ffffff;

      .title2 {
        font-size: 48px;
      }

      .right-part {
        display: flex;
        justify-content: space-between;
        font-size: 16px;

        a {
          display: flex;
          position: relative;
          margin-top: auto;
          font-size: 16px;
          font-weight: 500;
          color: #ffffff;
          line-height: 40px;
          opacity: 0.3;
          transition: all 0.3s;
          margin-right: 40px;

          &.active,
          &:hover {
            opacity: 1;

            &::after {
              transform: scale(1, 1);
            }
          }

          &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: -1px;
            width: 14px;
            height: 2px;
            background: #fff;
            transition: all 0.3s;
            transform-origin: left;
            transform: scale(0, 1);
          }
        }
      }
    }

    .news-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 50px;

      .news-item:nth-child(1),
      .news-item:nth-child(2) {
        width: calc(50% - 14px);
        margin-bottom: 40px;
      }

      .news-item:nth-child(1) {
        margin-right: 28px;
      }

      .news-item:nth-child(3),
      .news-item:nth-child(4) {
        margin-right: 22px;
      }

      .news-item {
        cursor: pointer;
        position: relative;
        width: calc(33.333% - 15px);
        transition: all 1s;

        &:hover {
          transform: scale(1.01);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }

        .info {
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.6)
          );
          border-radius: 0 0 8px 8px;
          padding: 20px;
          position: absolute;
          width: 100%;
          bottom: 0;
          display: flex;
          flex-direction: column;
          box-sizing: border-box;

          font-family: OPPOSans;
          font-weight: 400;
          color: #ffffff;

          .date {
            font-size: 14px;
            font-weight: 300;
            line-height: 0;
            margin-bottom: 15px;
          }

          .title {
            font-size: 16px;
            line-height: 18px;

            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    .page-part {
      display: flex;

      a {
        padding: 10px;
        cursor: pointer;
        font-size: 16px;
        font-family: OPPOSans;
        font-weight: 500;
        color: #ffffff;
        line-height: 1;
        margin-right: 15px;
        opacity: 0.4;
        transition: all 0.3s;

        &.active,
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.section5 {
  background: linear-gradient(180deg, #97a0b2, #fff);
  height: var(--fullheight);
  background-attachment: fixed;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
  // line-height: 1;
  // overflow: hidden;
  position: relative;

  .sticky {
    // justify-content: center;
  }

//自然滚动



height: auto;
        .sticky {
position: relative;
height: auto;
    flex-direction: column;
.wrapper{
height:auto!important;
position: relative;
padding-top: 0;
.job-list{
margin-top:0;
}

}}

  .top-part {
    width: 100%;
    height: 321px;
    // background: url("../img/about/job_mask.png");
    // background-repeat-y: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .title1 {
      margin-bottom: 22px;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 500;
      color: #000000;
    }

    .title2 {
      font-size: 48px;
      font-family: OPPOSans;
      font-weight: 500;
      color: #000000;
      margin-bottom: 25px;
    }

    .title3 {
      font-size: 14px;
      font-family: OPPOSans;
      font-weight: 500;
      color: #606060;
      display: flex;
      align-items: center;
    }

    // margin-bottom: 58px; 
  }

  .job-list-wraper {
    width: 100%;
    max-width: 1440px;
    height: var(--fullheight);
    padding-top: 50px;

    position: absolute;
    z-index: 0;
    overflow: hidden;
  }

  .job-list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    // grid-gap: 41px;
    // grid-auto-flow: row dense;
    margin-top: 250px;
    margin-bottom: 50px;
    width: 100%;

    // .job-item:nth-of-type(3n + 1) {
    //   grid-row: auto / span 5;
    // }
    // .job-item:nth-of-type(3n + 2) {
    //   grid-row: auto / span 6;
    // }
    // .job-item:nth-of-type(3n + 3) {
    //   grid-row: auto / span 8;
    // }

    .job-item {
      // background: linear-gradient(180deg, rgb(212, 225, 248), #fff);
      // background-attachment: fixed;
      cursor: pointer;
      background: white;
      border-radius: 14px;

      padding: 70px 58px;
      box-sizing: border-box;
      max-width: 440px;

      .j-title {
        font-size: 28px;
        font-family: OPPOSans;
        font-weight: bold;
        color: #000000;
        line-height: 1;
        margin-bottom: 22px;
      }

      .j-sub-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 16px;
        font-family: OPPOSans;
        font-weight: 400;
        color: #58616d;
        line-height: 1;
        .iconfont{margin-right:4px;}
        span {
          color: #d3d3d3;
        }
      }

      .j-sub-desc {
        font-size: 16px;
        font-family: OPPOSans;
        font-weight: 400;
        color: #7b7b7b;
        line-height: 26px;
        white-space: break-spaces;
      }
    }
  }

  input#job-pop-switch:checked ~ .all-job-popup-container {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
  }

  .all-job-popup-container {
    user-select: text;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1111;

    .p-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }

    .all-job-popup {
      position: absolute;
      width: 800px;
      height: 800px;
      background: #ffffff;
      color: #000000;
      border-radius: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;

      .p-closebt {
        position: absolute;
        right: 10px;
        top: 10px;
      }

      .p-wrapper {
        width: 100%;
        height: 100%;
        padding: 56px 10px 10px 64px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
      }

      .p-top-part {
        margin-bottom: 40px;

        .iconfont {
          margin-right: 10px;
        }
      }

      .detail-wrapper,
      .list-wrapper {
        display: none;
        height: 100%;

        &.show {
          display: flex;
          flex-direction: column;
        }
      }

      .list-wrapper .l-j-title {
        cursor: pointer;
      }

      .detail-wrapper .p-top-part {
        font-size: 16px;
        font-family: OPPOSans;
        font-weight: 500;
        color: #000000;
        line-height: 6px;
      }

      ul.job-list-ul {
      }

      ul.job-detail-ul {
        li {
          display: none;



        }

        li.show {
          display: block;
        }



      }

      ul {
        &.show {
          opacity: 1;
          pointer-events: auto;
        }

        &.hide {
          opacity: 0;
          pointer-events: none;
        }

        overflow: auto;
        padding-right: 44px;

        li {
          border-top: 2px solid #eeeeee;
          padding: 32px 0;

          .l-j-top-part {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 16px;
          }


.divider{
height:2px;
background: #EEEEEE;
}

          .l-j-title {
            font-size: 28px;
            font-family: OPPOSans;
            font-weight: bold;
            color: #000000;
            line-height: 1;
          }

          .l-j-bottom-part {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .l-j-left-part {
            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 16px;
            font-family: OPPOSans;
            font-weight: 400;
            color: #58616d;
            line-height: 1;
.iconfont{margin-right: 4px;}

            div,
            span {
              margin-right: 10px;
            }
          }

          .l-j-right-part {
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 400;
            color: #777777;
            line-height: 1;
          }

          .l-j-desc-part {
            font-size: 16px;
            font-family: OPPOSans;
            font-weight: bold;
            color: #000000;
            line-height: 27px;
            white-space: pre-line;
          }
        }
      }
    }
  }
}

.section6 {
  background: #fff;
  height: 906px;
  position: relative;

  .top-part {
    background: linear-gradient(180deg, #ffffff 50%, rgba(255,255,255,0));
    height: 411px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 111;
    position: absolute;

top:-1px;
left:0;

    .title1 {
      margin-top: 119px;
      font-size: 16px;
      font-family: Gilroy;
      font-weight: 500;
      color: #000000;
      line-height: 1;
      margin-bottom: 21px;
    }

    .title2 {
      font-size: 48px;
      font-family: OPPOSans;
      font-weight: 500;
      color: #000000;
      line-height: 1;
    }
  }

  .map-part {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .bottom-part {
    max-width: 1440px;
    width: 100%;
    height: 160px;
    background: #ffffff;
    box-shadow: 0px 3px 35px 0px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    bottom: 66px !important;
    position: absolute;

    // left: calc((100% - min(1440px, 100%)) / 2);
    .bottom-part-wrapper {
      width: 100%;
      margin: auto 0;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }

    .item {
      display: flex;
      flex-direction: column;
      width: 20%;

      .sub-top-part {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family: Gilroy;
        font-weight: bold;
        color: #111821;
        line-height: 1;
        margin-bottom: 19px;

        i {
          margin-right: 12px;
        }
      }

      .sub-bottom-part {
        flex: 1;
        font-size: 15px;
        font-weight: normal;
        color: #111821;
        line-height: 20px;
        position: relative;

        i {
          font-size: 20px;
        }

        .qrcode {
          transition: all 0.5s;
          position: absolute;
          display: none;
          left: 10px;
          top: 10px;
          transform: translate(-50%, -50%);
          pointer-events: none;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

        // .qrcode_small:hover ~ .qrcode {
        //   opacity: 1;
        // }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 750px) {
  .page-main .main-container .banner .wrapper .slogan .left .title2 {
    font-size: 44px;
  }

  .all-job-popup-container {
    .all-job-popup {
      width: 80% !important;
      height: 80% !important;
      ul {
        padding-right: 0 !important;
        li {
          padding: 22px 0 !important;
        }
      }
      .p-wrapper {
        padding: 20px !important;
      }
      .job-list-ul {
        .p-job-item {
          .l-j-top-part {
            justify-content: center !important;
          }
        }
      }
      .job-detail-ul {
        .p-job-item {
          .l-j-top-part {
            flex-direction: column !important;
            align-items: center !important;
            .l-j-title {
              margin-bottom: 10px !important;
            }
          }
        }
      }

      .l-j-bottom-part {
        flex-direction: column !important;
        .l-j-left-part {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) and (min-width: 750px) {
  .page-main {
    .main-container {
      .section2 {
        padding:90px 0;
        height: auto;

        .wrapper {
          .top_part {
            margin-bottom: 30px;
            display: block;

            .right_part {
              margin-top: 30px;

              li {
                margin-bottom: 10px;
              }
            }
          }

          .bottom_part {
            display: flex;
            flex-wrap: wrap;

            .item:not(:last-child) {
              margin-right: 0;
            }

            .item {
              width: 47%;
              margin-bottom: 30px;
              height: auto;
              padding: 55px 0;

              .sub_title2 {
                width: 80%;
              }

              img {
                width: 45%;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .page-main {
    .main-container {
      .banner {
        height: 458px;
        .slogan {
          .title1 {
            margin-bottom: 20px !important;
          }
          .title2 {
            font-size: 27px !important;
            line-height: 35px !important;
          }
        }
      }

      .section {
        .title1 {
          font-size: 13px !important;
          margin-bottom: 13px !important;
        }
        .title2 {
          font-size: 27px !important;
        }
      }

      .section2 {
        padding:60px 0  90px;
        height: auto;

        .wrapper {
          .top_part {
            margin-bottom: 30px;
            display: block;

            .right_part {
              margin-top: 30px;

              li {
                font-size: 12px !important;
                line-height: 18px !important;
                margin-bottom: 10px;
              }
            }
          }

          .bottom_part {
            display: flex;
            flex-wrap: wrap;

            .item:not(:last-child) {
              margin-right: 0;
            }

            .item {
              width: 47%;
              margin-bottom: 30px;
              height: auto;
              padding: 25px 16px 25px;

              img {
                width: 65%;
                margin-bottom: 30px !important;
              }
              .sub_title1 {
                font-size: 19px !important;
                margin-bottom: 11px !important;
              }
              .sub_title2 {
                font-size: 12px !important;
              }
            }
          }
        }
      }

      .section3 {
        height: auto;

        .wrapper {
          padding-top: 60px;
          width: 100%;
          margin-left: 0;
          display: block;

          .left-part {
            padding: 0 30px;
            margin-right: 0;
            height: auto;

            .bottom-part {
              margin-top: 20px;
              margin-bottom: 0;

              border-bottom: 2px solid #e5ebf2;

              .year {
                font-size: 60px !important;
              }

              .arrows {
                margin-left: auto;
                .round_btn {
                  width: 30px;
                  height: 30px;
                  &:first-child {
                    margin-right: 13px !important;
                  }
                  i {
                    font-size: 12px;
                  }
                }
              }
            }
          }

          .right-part {
            padding: 30px;

            .swiper-container {
              .swiper-wrapper {
                // height: 100%;
                display: block;
                // transform: translate3d(0, 0, 0) !important;
                // white-space: normal;

                .swiper-slide {
                  width: 100% !important;

                  .items {
                    border-left: none;
                    // border-bottom: 4px solid #e5ebf2;
                    padding: 0;
                    margin-bottom: 50px;

                    .contents {
                      margin-bottom: 30px;
                    }

                    .title1 {
                      line-height: 1;
                      font-size: 60px !important;
                    }

                    .title2 {
                      margin-bottom: 15px;
                      margin-top: 20px;
                    }

                    .title3 {
                      margin-bottom: 20px;
                    }
                  }
                }
              }
            }
          }
        }
      }

      // .section4 .wrapper .news-list .news-item:nth-child(1), .section4 .wrapper .news-list .news-item:nth-child(2){
      //   width: 100%;
      // }

.section4 {
  padding: 60px 0 50px;

        .wrapper {
          .title-part {
            display: block;
margin-bottom: 30px;
.right-part{
margin-top: 30px;
border-bottom: 1px solid #e5ebf221;
}



            .right-part a {
              font-size: 12px !important;
              white-space: nowrap;
              margin-right: 0px !important;
              // flex: 1;
              // justify-content: center;
              // &.active::after {
              //   transform: translateX(-50%) scale(1, 1);
              // }
              // &::after {
              //   left: 50%;
              // }
            }
          }



          .news-list {

margin-bottom: 35px;
            .news-item {
              width: 100%;
              margin-bottom: 15px;
              margin-right: 0;
              .date {
                font-size: 10px !important;
              }
              .title {
                font-size: 12px !important;
              }
            }
          }
          .page-part {
margin: auto;
            a {
              font-size: 12px !important;
            }
          }
        }
      }

      .section5 {
background-attachment: local;
        .top-part {
padding-top: 37px;
          height: 180px !important;
          background-size: contain;
        }
.top-part .title2 {
          margin-bottom: 16px !important;
        }
        .top-part .title3 {
          font-size: 10px !important;
        }
        .sticky {
position: relative;
.wrapper{
height:auto!important;
}

.bottom-seemore{
margin-bottom: 50px;
text-align: center;
    color: #7b7b7b;
label a{
line-height: 1.2;
display: flex;
align-items: center;
    justify-content: center;
}
}
          .job-list {
            // margin-top: 150px;
margin-bottom: 0;
          }
          .job-list .job-item {
            padding: 30px;
            .j-title {
              font-size: 18px !important;
            }
            .j-sub-info,
            .j-sub-desc {
              font-size: 12px !important;
              line-height: 19px !important;
            }
            // box-sizing: border-box;
            // max-width: none;
            // width: 100% !important;
            // top: 100px !important;
            // left: 0 !important;
            // position: relative !important;
            // margin-bottom: 40px;
          }
          .p-job-item {


            .l-j-title {
              font-size: 18px !important;
            }
            .l-j-left-part,
            .l-j-right-part,
            .l-j-desc-part {
              font-size: 12px !important;
              line-height: 19px !important;
            }

          }
        }
      }

      .section6 {
        .top-part {
          height: 205px;
          .title1 {
            margin-top: 57px;
            margin-bottom: 8px;
            font-size: 12px;
          }
          .title2 {
            font-size: 27px;
          }
        }
        .bottom-part {
          height: auto;
          padding: 30px;
          box-sizing: border-box;

          .bottom-part-wrapper {
            display: block;

            .item {
              width: 100%;
              margin-bottom: 20px;
              .sub-top-part {
                font-size: 14px;
                margin-bottom: 11px;
              }
              .sub-bottom-part {
                font-size: 11px;
                line-height: 16px;
                margin-bottom: 0px;
              }
            }
          }

          .qrcode-holder {
            width: 40%;
            margin-left: 24px;
            .sub-top-part {
              font-family: PingFang SC;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
      }
      #map_container {
        pointer-events: none;
      }
    }
  }
}
