// @import "./common.less";

body {
  color: #888888;
  background: linear-gradient(180deg, rgb(210, 215, 224), rgb(240, 243, 248));
}
.app-main {
  display: flex;
  flex-direction: column;
}

// .header1 {
//   color: #000;
//   .lang_bt {
//     border: 1px solid #3c3c3c42;
//   }
//   .logo {
//     background-position-y: -38px;
//   }
// }

.main-container {
  // width: 100%;
  // max-width: 1440px;

  width: var(--contentwidth);
  max-width: 1440px;
  padding-left: var(--contentpadding);

  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  .box-nav {
 font-weight: 500;
opacity: 1;
    color: #262221;
    margin-bottom: 46px;
    a {
opacity: 0.6;
      color: #262221;
    }

  }


}

.container {
  // width: 100%;

  display: flex;
  justify-content: space-between;

  .box-left,
  .box-right {
    display: flex;
    flex-direction: column;
  }

  .box-left {
    width: 100%;
    max-width: 880px;
    margin-right: 20px;
  }
  .box-right {
    width: 230px;

    .news-tag {
      h3 {
        font-family: FZLanTingHeiS-DB1-GBK;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 1;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -10px;
      }
      li {
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
      }

      li a {
        padding: 0 10px;
        display: flex;
        align-items: center;
        height: 32px;
        border: 1px solid #acb2b7;
        border-radius: 6px;

        font-size: 12px;
        font-family: FZLanTingHeiS-DB1-GBK;
        font-weight: 400;
        color: #8e9aa3;

        line-height: 26px;

        text-decoration: none;
      }

      li a:hover {
        border: 1px solid #3aab8b;
        color: #3aab8b;
      }
    }
    .feature-news {
      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 28px;

        h3 {
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          font-family: FZLanTingHeiS-DB1-GBK;
        }

        a {
          color: #888888;
          font-size: 12px;
        }
      }

      .content {
.divider{
background: transparent!important;
}
        .box-img {
          margin-bottom: 20px;

          a {
            img {
              object-fit: cover;
              height: 100%;
              display: block;
              border-radius: 14px;
              overflow: hidden;
              width: 230px;
              min-height: 133px;
            }
          }
        }
        .box-text {
          .title {
            font-size: 14px;
            font-weight: 500;
            color: #121d2c;
            line-height: 24px;
            display: flex;
          }
          .box-info {
            margin-top: 20px;
            font-size: 12px;
            font-family: FZLanTingHeiS-R-GB;
            font-weight: 400;
            color: #929da6;
          }
        }
      }
    }
  }

  .box-nav {
    margin-bottom: 50px;
  }
  .box-heading {
    margin-bottom: 50px;
    .title {
      font-size: 38px;
      font-weight: bold;
      color: #121d2c;
      line-height: 50px;
    }
    .line-two {
      margin-top: 34px;
      .box-info {
        font-weight: 500;
        color: #888888;
      }
    }
  }
.box-left{
.divider{
// display: none;
background: #dbdfe5;
 margin: 20px 0;
}
}

  .box-content {
p:first-child{
margin-top: 0;
}
p{
margin:0;
}
    user-select: auto;
    color: #838f98;
    font-size: 16px;
    img {
      margin: 50px 0;
      max-width: 100%;
      // display: block;
    }
  }
  // .bottom-divider {
    // margin: 30px 0;
    // opacity: 0.06;
    // box-sizing: border-box;
    // height: 2px;
    // background: #e0e3e6;
  // }
  .box-control {
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
margin-top: 10px;
    .button {
      white-space: nowrap;
      color: #838f98;
      display: flex;
      align-items: center;
      &:first-child {
        margin-right: 87px;
      }
      i {
        margin: 0 8px;
      }
    }
  }
}



@media screen and (max-width: 750px) {
  // .header1 {
  //   position: sticky;
  //   top: 0;
  //   margin: 0;
  //   padding: 10px 20px;
  // }

  .main-container {
    // padding: 10px 20px;
    box-sizing: border-box;
    // width: 100%;
    max-width: unset;
    padding-left: unset;

    .container {
      flex-direction: column;
      .box-left {
        margin-bottom: 50px;

  .box-heading {
    margin-bottom: 0px;
.title{
font-size: 24px;
    line-height: 30px;
}
.line-two{
margin-top: 24px;
}
}
// .divider{
// margin:22px 0 6px;
// }

      }

.box-content{
font-size: 14px;
}

      .box-right {
        width: 100%;
      }
    }
    .box-control {
      width: 100%;
    }
  }
}
