@media screen and (max-width: 750px) {

  header+main,
  header+.section {
    padding: 75px 0;
  }

  .nav-wrap {
    overflow: auto !important;

    &::-webkit-scrollbar {
      height: 0 !important;
    }
  }

  .banner {
    height: 375px;
    background-image: url("../img/ESG/图层 477@2x.png");

    .wrapper {
      .slogan {
        .h1 {
          font-size: 27px !important;
          margin-bottom: 15px;
        }

        .h2 {
          font-size: 27px !important;
          margin-bottom: 0;
        }
      }
    }
  }

  .section-content {
    .wrapper {
      padding: 60px 0;
      margin-left: 7%;
      width: 100%;

      .content-box {
        width: 100%;
        display: block;
        text-align: left;

        .left {
          h2 {
            font-size: 27px;
          }

          .l-bg {
            width: 300px !important;
            height: 300px !important;
            right: -100px;
            top: 250px;
          }
        }

        .right {
          width: 100%;

          h2 {
            font-size: 19px;
            margin-top: 39px;
          }

          p {
            font-size: 12px;
            margin: 20px 0 40px 0;
          }
          div{
            font-size: 12px;
          }
        }
      }
      .swiper-bg{
        margin-top: 54px;
        height: 347px;
      }
    }
  }

  .nav-height {

    .nav-wrap {
      top: -25px;

      ul {
        border-radius: 25px;

        li {
          height: 50px !important;
          line-height: 50px !important;

          a {

            .icon {
              width: 14px;
              height: 16px;
            }

            font-size: 12px;
          }
        }
      }
    }
  }



}