@font-face {
  font-family: "iconfont"; /* Project id 2652720 */
  src: url("//at.alicdn.com/t/font_2652720_g5azrt20aq4.woff2?t=1625587162083")
      format("woff2"),
    url("//at.alicdn.com/t/font_2652720_g5azrt20aq4.woff?t=1625587162083")
      format("woff"),
    url("//at.alicdn.com/t/font_2652720_g5azrt20aq4.ttf?t=1625587162083")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Down:before {
  content: "\e61c";
}

.icon-Up:before {
  content: "\e62f";
}

.icon-menu:before {
  content: "\e97d";
}

.icon-yuyan:before {
  content: "\e60b";
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-youjian:before {
  content: "\e604";
}

.icon-gou:before {
  content: "\e687";
}

.icon-zuo:before {
  content: "\e688";
}

.icon-you:before {
  content: "\e689";
}

.icon-shang:before {
  content: "\e68a";
}

.icon-xia:before {
  content: "\e68b";
}

.icon-zuojiantou:before {
  content: "\e68c";
}

.icon-youjiantou:before {
  content: "\e68d";
}

.icon-shuaxin:before {
  content: "\e63a";
}
