* {
  padding: 0;
  margin: 0;
}
.page-main {
  display: flex;
  flex-direction: column;

  .main-container {
    margin-top: -150px !important;
    width: 100%;

    margin: auto;
    display: flex;
    flex-direction: column;

    .section:first-child {
      padding-top: 150px;
    }

    .banner {
      background: url("../img/product/banner.png") no-repeat center;
      width: 100%;
      height: 761px;
      display: flex;
      align-items: center;
      background-color: #19242d;

      .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        width: 100%;

        .slogan {
          display: flex;
          justify-content: space-between;

          .left {
            width: 470px;

            h1 {
              font-size: 54px;
              color: #fff;
            }

            h3 {
              font-size: 54px;
              color: #fff;
              font-weight: normal;
            }

            p {
              font-size: 16px;
              color: #fff;
              margin-top: 40px;
              opacity: 0.8;
            }

            i {
              width: 60px;
              height: 60px;
              display: inline-block;
              margin-top: 40px;

              img {
                width: 100%;
              }
            }
          }

          .right {
            width: 500px;
          }
        }
      }
    }

    .section2 {
      background: #19242d;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 90px 0;

      .wrapper {
        width: 100%;

        .desc {
          font-size: 24px;
          font-family: Gilroy;
          font-weight: 500;
          color: #42505b;
          line-height: 23px;
          max-width: 1280px;
          margin: 0 auto;
        }

        .tit_box {
          max-width: 1280px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          .title {
            font-size: 48px;
            font-family: OPPOSans;
            font-weight: 500;
            color: #ffffff;
            line-height: 60px;
          }

          .arrows {
            width: 300px;
            position: relative;
          }
        }

        .swiper-container {
          width: 100%;
          height: 100%;
          margin-top: 60px;

          .swiper-wrapper {
            margin-left: 110px;

            .swiper-slide {
              width: 400px !important;

              .items {
                height: 446px;
                width: 100%;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-size: cover !important;
                border-radius: 6px;
                overflow: hidden;

                h2 {
                  font-size: 90px;
                  font-family: Gilroy;
                  font-weight: bold;
                  color: rgba(239, 239, 239, 0);
                  line-height: 90px;
                  opacity: 0.8;
                  height: 90px;
                  margin: 38px 0 0 35px;
                  -webkit-text-stroke: 1px #ffffff;
                  text-stroke: 1px #ffffff;
                }

                .contents {
                  margin: 110px 0 0 35px;

                  img {
                    width: 45px;
                    height: 45px;
                    display: inline-block;
                  }

                  h4 {
                    font-size: 24px;
                    font-family: OPPOSans;
                    font-weight: 500;
                    color: #ffffff;
                    margin: 15px 0 20px;
                  }

                  p {
                    font-size: 16px;
                    font-family: OPPOSans;
                    font-weight: 400;
                    color: #ffffff;
                    line-height: 26px;
                    opacity: 0.5;
                  }
                }
              }

              .bg1 {
                background: url("../img/product/d1.png");
              }

              .bg2 {
                background: url("../img/product/d2.png");
              }

              .bg3 {
                background: url("../img/product/d3.png");
              }
            }
          }
        }
      }
    }

    .section3 {
      width: 100%;
      background: url("../img/product/sec_bg.png") no-repeat center;
      height: 1500px;
      background-position-x: inherit;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .wrapper {
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;

        .left {
          margin-top: 200px;

          h1 {
            margin-bottom: 20px;
            height: 90px;
            font-size: 120px;
            font-family: Gilroy;
            font-weight: bold;
            color: rgba(239, 239, 239, 0);
            line-height: 90px;
            -webkit-text-stroke: 2px #96afd3;
            text-stroke: 2px #96afd3;
          }

          h4 {
            font-size: 48px;
            font-family: OPPOSans;
            font-weight: 500;
            color: #000000;
            line-height: 60px;
          }
        }

        .right {
          display: flex;
          align-items: center;

          .c_left {
            .bottom_item,
            .top_item {
              width: 420px;
              height: 540px;
              position: relative;
              background: url("../img/product/98.png") center no-repeat;

              h3 {
                font-size: 26px;
                font-family: OPPOSans;
                font-weight: bold;
                color: #f9fcfe;
                margin: 50px 0 20px 50px;
              }

              p {
                font-size: 18px;
                font-family: OPPOSans;
                font-weight: 400;
                color: #f9fcfe;
                margin-left: 50px;
              }

              span {
                font-size: 14px;
                font-family: Gilroy;
                font-weight: 400;
                color: #f9fcfe;
                position: absolute;
                bottom: 30px;
                right: 30px;
              }
            }

            .mid_item {
              width: 420px;
              height: 129px;
              border-radius: 14px;
              background: linear-gradient(215deg, #6dba9e, #5696c7);
              border-radius: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 25px 0;

              h4 {
                font-size: 26px;
                font-family: OPPOSans;
                font-weight: normal;
                line-height: 31px;
                height: 62px;
                color: #ffffff;
                margin-right: 50px;
                padding-right: 50px;
                border-right: 1px solid #fff;
              }

              .text {
                p {
                  font-size: 14px;
                  font-family: OPPOSans;
                  font-weight: 400;
                  color: #ffffff;
                }

                h3 {
                  font-size: 46px;
                  font-family: OPPOSans;
                  font-weight: bold;
                  color: #ffffff;
                }
              }
            }

            .bottom_item {
              width: 420px;
              height: 540px;
              position: relative;
              background: url("../img/product/99.png") center no-repeat;

              P {
                width: 80%;
              }
            }
          }

          .c_rirht {
            .top_item {
              width: 420px;
              height: 231px;
              background: #edf3fd;
              border-radius: 14px;
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              margin: 0 0 25px 25px;
              box-shadow: -5px 5px 10px rgb(136 136 136 / 18%);

              .s_wrapper {
                // padding: 35px;

                .flex_block {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  h3 {
                    font-size: 24px;
                    font-family: OPPOSans;
                    font-weight: bold;
                    color: #3f547b;
                    line-height: 1.3;
                    border-right: 1px solid rgb(63, 84, 123, 0.1);
                    padding-right: 25px;
                    margin-right: 25px;
                  }

                  p {
                    font-size: 18px;
                    font-family: OPPOSans;
                    font-weight: 400;
                    color: #3f547b;
                  }
                }

                h4 {
                  font-size: 58px;
                  font-family: OPPOSans;
                  font-weight: bold;
                  line-height: 1;
                  margin-top: 10px;
                  color: linear-gradient(135deg, red, blue);
                  background-image: linear-gradient(215deg, #6dba9e, #5696c7);
                  -webkit-background-clip: text;
                  color: transparent;
                }
              }
            }

            .mid_item {
              width: 420px;
              height: 540px;
              position: relative;
              background: url("../img/product/100.png") center no-repeat;
              margin-left: 25px;

              h3 {
                font-size: 26px;
                font-family: OPPOSans;
                font-weight: bold;
                color: #f9fcfe;
                margin: 50px 0 20px 50px;
              }

              p {
                font-size: 18px;
                font-family: OPPOSans;
                font-weight: 400;
                color: #f9fcfe;
                margin-left: 50px;
              }

              span {
                font-size: 14px;
                font-family: Gilroy;
                font-weight: 400;
                color: #f9fcfe;
                position: absolute;
                bottom: 30px;
                right: 30px;
              }
            }

            .bottom_item {
              width: 420px;
              height: 193px;
              background: linear-gradient(180deg, #4697d6, #afd4f1);
              border-radius: 14px;
              margin: 25px 0 0 25px;
              display: flex;
              justify-content: center;
              align-items: center;

              .text {
                width: 45%;
                margin-left: 50px;

                h3 {
                  font-size: 26px;
                  font-family: OPPOSans;
                  font-weight: bold;
                  color: #ffffff;
                }

                p {
                  font-size: 18px;
                  font-family: OPPOSans;
                  font-weight: 400;
                  color: #f9fcfe;
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }

    .section4 {
      background-color: #eaf1f9;
      width: 100%;
      padding: 120px 0;

      .wrapper {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .earth {
          width: 641px;
          height: 585px;
          border: 1px solid;
        }

        .city {
          margin-left: 100px;

          h4 {
            color: #b2bfcf;
            font-size: 36px;
            font-family: Gilroy;
            font-weight: bold;
          }

          h2 {
            font-size: 50px;
            font-family: OPPOSans;
            font-weight: 500;
            color: #000000;
            margin: 20px 0px 35px;
            line-height: 1;
            border-bottom: 1px solid #dde4ec;
            padding-bottom: 35px;

            span {
              color: #486587;
            }
          }

          .box {
            margin: 30px 0;

            ul {
              display: flex;
              justify-content: space-between;

              li {
                p {
                  color: #000;
                }
              }
            }
          }
          .global {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .header1 {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 10px 30px;
  }

  .main-container {
    margin-top: -58px !important;
    .section:first-child {
      padding-top: 58px !important;
    }
  }
}
