body {
    background: #fff;
}

* {
    margin: 0;
    padding: 0;
}

.solution-head {
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    color: #fff !important;
}

.banner {
    height: 760px;
    background: url('../img/solution/banner.png') no-repeat center;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    .wrapper {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .slogan {
            width: auto;
            min-width: 390px;

            h1 {
                font-size: 54px;
                color: #fff;
                display: flex;
                align-items: center;
                line-height: 1;
                font-family: OPPOSans;
                font-weight: 500;
            }

            h2 {
                font-size: 54px;
                color: #fff;
                display: flex;
                line-height: 1;
                font-family: OPPOSans;
                font-weight: 500;
            }

            .line {
                width: 2px;
                height: 46px;
                display: inline-block;
                margin: 0 25px;
            }

            .downBtn {
                width: 187px;
                height: 53px;
                border: 1px solid rgba(242,244,248,.4);
                // opacity: .3;
                border-radius: 26px;
                font-size: 14px;
                font-family: OPPOSans;
                font-weight: 500;
                color: #FFFFFF;
                line-height: 53px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 63px;
                .arrow_icon{
                    background: url(../img/solution/arrow_down.png) no-repeat center;
                    width: 9px;
                    height: 15px;
                    display: inline-block;
                    opacity: .4;
                    background-size: cover;
                    margin-left: 59px;
                }
            }
        }
    }
}

.section-content {
    border-bottom: 5px solid #0000FF;
    min-height: 500px;
    background: #eee;
    width: 1200px;
    margin: auto;
    line-height: 500px;
    text-align: center;
    color: #000;
}

.nav-height {
    position: relative;
    top: -40px;

    .nav-wrap {
        width: 1399px;
        height: 80px;
        background: #F2F4F8;
        box-shadow: 0px 0px 59px 0px rgb(25 36 45 / 5%);
        border-radius: 40px;
        margin: 0 auto;
        line-height: 80px;

        ul {
            padding: 0;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;


            li {
                display: inline-block;
                text-align: left;
                height: 80px;
                line-height: 80px;
                /* float: left; */
                width: 200px;
                text-align: center;

                a {
                    display: block;
                    padding: 0 20px;
                    font-size: 20px;
                    color: #333;
                    text-decoration: none;
                }
            }

            li a:hover {
                color: #4680d1;
            }

            li a.active {
                background: url('../img/solution/nab_active_bg.png');
                color: #4680d1;
            }


        }
    }

    .nav-wrap.navFix {
        position: fixed;
        top: 0;
        left: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid #e3e3e3\9;
        z-index: 99999;
        margin-left: -699.5px;
    }

    .nav-wrap.navFix ul {
        border-bottom: 0;
    }

}






.nav-mobile {
    display: none;
    font-weight: bold;
    width: 100%;
}

.click-me {
    width: 150px;
    height: 30px;
    background: #4680d1;
    color: white;
    text-align: center;
    color: #000;
    line-height: 30px;
}

.click-me a {
    display: block;
    color: white;
}